@font-face {
    font-family: bebasneue-regular;
	src: url('../fonts/BebasNeue-Regular.ttf');
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	background-color: white;
	display:block;
	color: #000000;
	text-decoration:none;
	font-weight:700;
	font-size:22px;
	line-height:48px;
	padding:0 15px;
	font-family: bebasneue-regular;
    "Liberation Mono", "Courier New", monospace;
	width:170px;
	text-align: center;
}

#primary_nav_wrap ul li
{
	background: #ffffff;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}


#primary_nav_wrap ul li:hover
{
	background: #565656;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
}

#primary_nav_wrap ul ul a
{
	line-height:100%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}